# DO NOT REMOVE. CLOUDLINUX (c)
PassengerAppRoot "/home/dea35688/domains/dean06tuyenquang.id.vn/public_html/PhanMemPC06_Pro"
PassengerBaseURI "/"
PassengerPython "/home/dea35688/virtualenv/domains/dean06tuyenquang.id.vn/public_html/PhanMemPC06_Pro/3.9/bin/python"
# END DO NOT REMOVE
